body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}
.loader{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 12px solid grey;
  border-top: 12px solid black;
  animation: name 1s linear 1s infinite normal;
}
@keyframes name{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
